/* available_boat.css */
.available-boat-card {
    position: relative;
  }
  
  .boat-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Adjust size as needed */
    height: auto;
    z-index: 1; /* Ensures the image stays on top */
  }
  
  .card-body-content {
    margin-top: 50px; /* Creates space below the image */
  }
  
  .available-boat-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .boat-count {
    font-size: 1.5rem;
    font-weight: bold;
  }
  