/* Sidebar styling */
.sidebar {
    background-color: #091057;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.btn-toggle-sidebar {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Sidebar logo */
.sidebar-logo {
    width: 50px;
    height: auto;
    transition: width 0.3s;
}

/* Sidebar links styling */
.nav-link {
    color: white !important;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.nav-link.active {
    background-color: white;
    color: black !important;
    border-radius: 10px;
}

/* Sidebar icons */
.sidebar-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
    transition: margin 0.3s;
}

.sidebar.collapsed .sidebar-icon {
    margin-right: 0;
}

/* Change icon color when link is active */
.nav-link.active .sidebar-icon {
    filter: invert(100%) brightness(0) !important;
}

/* "Need Help" section */
.need-help {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    margin-top: auto;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.sidebar.collapsed .need-help span {
    display: none;
}
