/* Navbar card container */
.navbar-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  border-radius: 10px; /* Rounded corners */
  margin: 15px;
  width: 78%;
  margin-left: 18%;
  margin-right: 10%;
}

/* Search container styling */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px; /* Adjust width as needed */
}

/* Search icon styling */
.search-icon {
  color: black;
  font-size: 16px;
  margin-right: 8px; /* Space between icon and input */
}

/* Search input styling */
.search-input {
  width: 100%;
  padding: 8px 10px; /* Adjust padding to prevent collision */
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

/* Notification and profile container */
.notification-profile {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Notification icon styling */
.notification-icon {
  margin-right: 15px; /* Space between notification icon and profile avatar */
  font-size: 23px; /* Adjust size if necessary */
}

/* Profile avatar styling */
.profile-avatar {
  margin-left: 5px; /* Space between avatar and notification icon */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd; /* Optional border around the avatar */
}
